<mat-card *ngFor="let todo of todolist | async; let i = index" class="todo-card">
  <mat-card-header>
    <mat-card-title class="todo-title"[ngStyle]="{'text-decoration': todo.status === 'Closed' ? 'line-through' : '' }">{{ todo.title }}</mat-card-title>
    <mat-checkbox class="todo-checkbox" (change)="finishTodo(i, todo)" [checked]="todo.status === 'Closed'" [disabled]="todo.status === 'Closed'">Finish</mat-checkbox><br />
    <mat-card-subtitle class="todo-date">{{ todo.date | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="todo-status">
    <p>
      Status : {{ todo.status }}
    </p>
  </mat-card-content>
</mat-card>