<div>
  <button class="add-button" mat-fab color="primary" (click)="addTodo()">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
</div>
<div>
<mat-card *ngFor="let todo of todolist; let i = index" class="todo-card">
  <mat-card-header>
    <mat-card-title class="todo-title"[ngStyle]="{'text-decoration': todo.status === 'Closed' ? 'line-through' : '' }">{{ todo.title }}</mat-card-title>
    <mat-checkbox class="todo-checkbox" (change)="finishTodo(i, todo)" [checked]="todo.status === 'Closed'" [disabled]="todo.status === 'Closed'">Finish</mat-checkbox><br />
    <mat-card-subtitle class="todo-date">{{ todo.date | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="todo-status">
    <h3>Status</h3>
    <p>
      {{ todo.status }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button class="opentodo-button" mat-raised-button color="primary" (click)="openTodo(todo.id)">Open</button>
  </mat-card-actions>
</mat-card>
</div>